Origin: {{ origin }}
Label: {{ label }}
Suite: {{ suite }}
Codename: {{ codename }}
Components: {{ components }}
Architectures: {{ architectures }}
MD5Sum:
{%- for sum in md5sum  %}
 {{ ' '.join(sum) }}
{%- endfor %}
SHA1Sum:
{%- for sum in sha1sum  %}
 {{ ' '.join(sum) }}
{%- endfor %}
SHA256Sum:
{%- for sum in sha256sum  %}
 {{ ' '.join(sum) }}
{%- endfor %}